*{
  box-sizing: border-box;
} 
h1 {
 font-size:50px;
 padding:12px;
 text-align:center;
}

#changingword {
 color:rgb(228, 163, 24);
 position:absolute;
 margin-top:50px;
 margin-left:-200px;


}
#changingNumber {
 color:rgb(228, 163, 24);
 position:absolute;
 margin-top:50px;
 margin-left:-200px;

}

.container{
 height: 1100px;
 width: 100%;
 background-color: black;
}

.container .words{
 height:800px;
 width:70%;
 background-color:green;
 margin-left:150px;
 position:absolute;
 margin-top:300px;
}

.container .footer-text{
background-color:orange;
position:absolute;
height:auto;
width:98.5%;
margin-top:200px;
margin-top:800px;
}
.container .footer-text p{position:relative;margin-left:250px;}

.share{
 background-color:orange;
 position:relative;
 margin-top:1305px;
 width:100%;
}

.fa{
 position:static;
 margin:30px;
 padding-left:110px;
 color:black;
}
p{
 font-size:xx-large;
}